<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Reset Password</h1>
        <form method="POST" action="{{ url_for('reset_password') }}">
            {% for key, question in questions.items() %}
                <label for="{{ key }}">{{ question }}</label>
                <input type="text" id="{{ key }}" name="{{ key }}" required autocomplete="off">
            {% endfor %}
            <button type="submit" class="button">Submit</button>
        </form>
        <div id="error-message" class="error-message">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <p>{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>